::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #fff; 
}

.home-page-card {
    width: 300px;
    margin: 20px auto;

    .home-page-content {
        text-align: center;
    }
}

